/* RESET TAGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* INIZIO HEADER */

.layout{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

header h1{
    color: rgb(229,49,112);
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
}

header p{
    text-align: center;
}

/* INIZIO MAIN */

.id-card-layout{
   width: calc(100% / 3); 
   float: left;
   padding: 15px;
}

.info-profile{
    box-shadow: 10px 5px 5px black;
    background-color: black;
    color: white;
}

.info-profile img{
    height: 125px;
    float: left;
    padding-right: 15px;
}

.info-profile a{
    color: rgb(82,188,218);
}

.email-info{
    line-height: 41px;
    float: left;
}






